.my-dark-blue-text {
    color: #13B1B4 !important;
}

.my-dark-blue-bg {
    background-color: #13B1B4 !important;
}

.my-light-blue-text {
    color: #BDEDF1 !important;
}

.my-light-black-text {
    color: #000000;
}

.my-light-blue-bg {
    background-color: #BDEDF1 !important;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

#overall-container {
    /*background-color: darkcyan;*/
    padding: 0px;
}

.container {
    max-width: none !important;
    width: 100% !important;
}

.nav-menu-left {
    width: 50%;
}
    .nav-menu-left:hover {
        text-decoration: none !important;
        cursor: pointer;
        opacity: .6;
    }

.logo {
    /*flex: 3;*/
    width: 50%;
    display: table-cell;
    //white-space: nowrap;
    overflow: visible;
}

@media screen and (max-width: 1040px) {
    .logo {
        width: 100%;
    }

    .nav-menu-left {
        width: 100%;
    }
}

.title {
    font-size: 34px;
    color: #13B1B4;
    padding-left: 10px;
    font-weight: bold;
    vertical-align: middle;
    height: 100%;
    display: inline-block;
}

@media screen and (max-width: 580px) {
    .title {
        font-size: 26px;
    }
}

@media screen and (max-width: 480px) {
    .title {
        font-size: 20px;
    }
}

@media screen and (max-width: 400px) {
    .title {
        font-size: 16px;
    }
}

@media screen and (max-width: 360px) {
    .title {
        font-size: 12px;
    }
}


#header-div {
    position: fixed;
    max-width: none !important;
    width: 97%;
    padding: 0px;
    background-color: white;
    display: flex;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
}

#nav-menu-div {
    width: 50%;
    text-align: center;
    /*flex: 3;*/
}

#nav-menu-ul {
    display: flex;
    height: 100%;
}

#nav-collapsed {
    display: none;
    height: 100%;
    float: right;
    text-align: center;
    font-size: 56px;
    margin-right: 10px;
    color: #13B1B4;
    cursor: pointer;
}

@media screen and (max-width: 1040px) {
    #nav-menu-ul {
        display: none;
    }

    #nav-collapsed {
        display: block;
    }

    #nav-menu-div {
        width: 0%;
    }
}

.my-nav-pills > .li {
    min-height: 100%;
    height: 80px !important;
    flex: 1;
    /*border-left: solid;
        border-color: #BDEDF1;
        border-width: 1px;*/
    /*display: table-cell;*/
}

.border {
    content: "";
    border-left: solid;
    border-color: #BDEDF1;
    border-width: 1px;
    /*display: block;*/
    height: 50%;
    margin-top: 20px;
}

.my-nav-pills > .li > a {
    display: inline-block;
    /*display: table-cell;*/
    border-radius: 0px !important;
    /*height: 100% !important;*/
    color: #13B1B4;
    /*vertical-align: middle;*/
    padding: 10px;
    height: 80px;
    width: 100%;
    line-height: 60px;
    font-size: 18px;
}

    .my-nav-pills > .li > a > .pill-label {
        /*vertical-align: middle;*/
    }

    .my-nav-pills > .li > a:hover {
        background-color: #13B1B4 !important;
        color: white;
        text-decoration: none;
    }

.my-nav-pills > .li.active > a {
    background-color: #13B1B4 !important;
    color: white;
}

.my-nav-pills > .li {
    height: 100%;
    display: table-cell;
}

#content-div {
    /*border: solid;
        border-width: 2px;
        border-color: cornflowerblue;*/
    padding: 0px;
    margin-top: 80px;
}

#footer {
    padding-top: 20px;
}

.item {
    width: auto;
    /*height: 700px;*/
    max-height: 700px;
    /*min-height: 700px;*/
}

#carousel-div {
    /*border: solid;*/
    border-color: gray;
    border-bottom-width: 2px;
    /*border-radius: 10px;*/
    max-height: 700px;
}

#carousel-image {
    /*border-radius: 20px;*/
    /*width: 100px;
    height: 100px;*/
    /*position: relative;
        z-index: -1;*/
}

.leftish {
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 2px 2px 10px black;
}

.pic-1-text {
    font-size: 70px;
}

@media screen and (max-width: 1400px) {
    .pic-1-text {
        font-size: 54px;
    }
}

@media screen and (max-width: 1100px) {
    .pic-1-text {
        font-size: 40px;
    }
}

@media screen and (max-width: 800px) {
    .pic-1-text {
        font-size: 30px;
    }
}

@media screen and (max-width: 600px) {
    .pic-1-text {
        font-size: 24px;
    }
}

@media screen and (max-width: 480px) {
    .pic-1-text {
        font-size: 20px;
    }
}

@media screen and (max-width: 400px) {
    .pic-1-text {
        font-size: 16px;
    }
}

.top-center {
    position: absolute;
    top: 0px;
    left: 0px;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*color: white;*/
    text-shadow: 2px 2px 10px black;
}

.large-font {
    font-size: 100px;
}

.small-font {
    font-size: 50px;
}

.translucent-bg {
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    text-align: center;
}

.dark-blue-translucent-bg {
    background-color: rgba(189, 239, 241, 0.6) !important;
}

.translucent-black-bg {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    color: #BDEDF1;
}

.content-row {
    padding: 50px;
    //padding-left: 10%;
    //padding-right: 10%;
    font-size: 20px;
}
    .content-row > div {
        max-width: 1200px;
        margin: auto;
    }
@media (max-width: 600px) {
    .content-row {
        padding-left: 0px;
        padding-right: 0px;
        padding: 0px;
    }
}

.content-row-transparent {
    padding: 50px;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 20px;
    opacity: 1
}

.content-row:nth-child(odd) {
    background-color: #f5fcfd;
}

.card-container {
    margin: -15px;
    display: flex;
}

.raised-card {
    box-shadow: 4px 4px 20px 1px rgba(0, 0, 0, .5);
    border-radius: 5px;
    display: table-cell;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 800px) {
    .flex {
        display: block;
    }
}

#mission-label {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    background-color: #BDEDF1;
    padding: 10px;
    //border-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    vertical-align: middle;
    flex: 1;
}

    #mission-label > div {
        width: 100%;
    }
@media (max-width: 600px) {
    #mission-label {
        width: 100%;
    }

}
#mission-label>div {
    display: flex;
    margin-right: 40px;
    margin-left: 40px;
}

.mission-text {
    margin: auto;
    display: inline-block;
}

#mission-content {
    padding: 20px;
    //border: solid;
    border-color: #BDEDF1;
    border-width: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 24px;
    flex: 3;
    //font-weight: bold;
}

.clickable-card {
    //margin: 15px;
    /*border: solid;
        border-width: 2px;
        border-color: transparent;*/
    box-shadow: 4px 4px 20px 1px darkgray;
    height: 100%;
}

    .clickable-card:hover {
        border-color: #BDEDF1;
        cursor: pointer;
        box-shadow: 4px 4px 20px 4px darkgray;
        //opacity: .6;
    }

.side-stack-3 {
    width: 33.33333%;
    margin: 15px;
}

@media screen and (max-width: 1100px) {
    .side-stack-3 {
        width: 100%;
        margin: 0px;
        margin-bottom: 50px;
    }

    .card-container {
        display: block;
        margin: 0px;
    }

    .clickable-card {
       // margin-bottom: 15px;
    }
}

.shadow {
    box-shadow: 1px 1px 10px black;
}

.card-header {
    background-color: #BDEDF1;
    padding: 10px;
    font-weight: bold;
}

.card-body {
    padding: 10px;
    /*height: 100%*/
}

.clickable-card:hover .wide-card-right {
    opacity: .4;
}

.clickable-card:hover .card-header {
    opacity: .4;
}

.clickable-card:hover .card-body {
    opacity: .4;
}

.image-div {
    position: relative;
    width: 100%;
    max-height: 500px;
    overflow: hidden;
    //display: flex;
}
/*.image-div:hover::after {
    //opacity: .6;
    content: "hello";
    position:absolute;
    z-index: 500;
    font-size: 100px;
    bottom: 50px;
    opacity: 1 !important;
    margin: auto;
    color: black;
}*/
.image-text {
    visibility: hidden;
    position: absolute;
    opacity: 2 !important;
    color: black;
    width: 100%;
    height: 100%;
    margin: auto;
    font-size: 50px;
    background-color: rgba(189, 239, 241, 0.6);
    text-align: center;
    color: #13B1B4 !important;
    text-shadow: 2px 2px 10px black;
    display: flex;
}
.image-text>div {
    margin: auto;
}
.clickable-card:hover>div .image-text {
    visibility: visible;
}

.image {
    overflow: hidden;
    width: 100%
}

.header-image-div {
    position: relative;
    width: auto;
    max-height: 700px;
    overflow: hidden;
}

.header-image {
    max-width: 100%;
    width: 100%;
    overflow: hidden;
    margin-top: -100px;
}

.lesson-header {
    flex: 1;
}

.lesson-label {
    font-size: 24px;
    text-align: center;
    padding: 10px;
    background-color: #BDEDF1;
}

.lesson-content {
    flex: 1;
    padding: 10px;
    font-size: 20px;
}

.hover-pointer:hover {
    cursor: pointer;
}

flex-1 {
    flex: 1;
}

.video-title {
    text-align: center;
    font-size: 32px;
}

.video-div {
    background-color: black;
    text-align: center;
    position: relative;
    width: 100%;
}

.about-content {
    text-shadow: 2px 2px 10px rgba(255, 255, 255, 1);
}

.wide-card {
    width: 100%;
    display: flex;
    box-shadow: 4px 4px 20px 1px rgba(0, 0, 0, .5);
    border-radius: 5px;
}

.wide-card-left {
    flex: 1;
}

.wide-card-right {
    flex: 3;
    overflow: hidden;
}

.wide-card-title {
    background-color: #BDEDF1;
    text-align: left;
    font-size: 24px;
    padding: 10px;
    font-weight: bold;
}

.wide-card-content {
    padding: 10px;
}

.wide-card-image {
    width: 100%;
}
/***************************************
    CUSTOM BUTTON 
****************************************/
.btn-DBS {
    color: #FFFFFF;
    background-color: #13B1B4;
    border-color: #0F9C9E;
}

    .btn-DBS:hover,
    .btn-DBS:focus,
    .btn-DBS:active,
    .btn-DBS.active,
    .open .dropdown-toggle.btn-DBS {
        color: #FFFFFF;
        background-color: #0F9C9E;
        border-color: #0F9C9E;
    }

    .btn-DBS:active,
    .btn-DBS.active,
    .open .dropdown-toggle.btn-DBS {
        background-image: none;
    }

    .btn-DBS.disabled,
    .btn-DBS[disabled],
    fieldset[disabled] .btn-DBS,
    .btn-DBS.disabled:hover,
    .btn-DBS[disabled]:hover,
    fieldset[disabled] .btn-DBS:hover,
    .btn-DBS.disabled:focus,
    .btn-DBS[disabled]:focus,
    fieldset[disabled] .btn-DBS:focus,
    .btn-DBS.disabled:active,
    .btn-DBS[disabled]:active,
    fieldset[disabled] .btn-DBS:active,
    .btn-DBS.disabled.active,
    .btn-DBS[disabled].active,
    fieldset[disabled] .btn-DBS.active {
        background-color: #13B1B4;
        border-color: #0F9C9E;
    }

    .btn-DBS .badge {
        color: #13B1B4;
        background-color: #FFFFFF;
    }

/******************************************************/


/***************************************
    SIDE NAV
****************************************/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1001;
    top: 0;
    right: 0;
    overflow-x: hidden;
    background-color: white;
    transition: 0.5s;
    padding-top: 20px;
    margin-top: 80px;
    box-shadow: -2px 4px 10px rgba(0, 0, 0, .5);
}

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #13B1B4;
        display: block;
        transition: 0.3s;
    }

        .sidenav a:hover {
            //color: #BDEDF1;
            color: white;
            background-color: #13B1B4;
        }

        .sidenav a.active {
            //color: #BDEDF1;
            color: white;
            background-color: #13B1B4;
        }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
        padding-top: 80px;
    }

@media screen and (max-height: 450px) {
    .sidenav {
        margin-top: 80px;
    }

        .sidenav a {
            font-size: 18px;
        }
}

